:root {
  --primary: #aa5e62;
  --secondary: #4fb6a7;
  --dark:#2f2c3b;
  --light: #eee;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--light)
}

button {
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  padding: 16px;
}

button:hover {
  opacity: 0.5;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  overflow: hidden;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
  height: 300px;
  padding: 16px;
  
}

.result {
  font-size: 64px;
  color: var(--light);
}

.operator {
  color: var(--primary);
}

.top-button {
  color: var(--secondary);
}

.digit-keys {
  display: flex;
  flex-wrap: wrap;
}

.digit-keys button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}

.function-keys {
  display: flex;
  flex-wrap: wrap;
}

.function-keys button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}

.operator-keys {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.operator-keys button {
  flex: 1 1 100%;
  max-width: 100%;
  background-color: var(--dark);
}

.value {
  color: #6d59ba
}

.left {
  flex: 1 1 80%;
  max-width: 100%;
}

.right {
  flex: 1 1 20%;
  max-width: 20%;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
}